// @import "styles/index.scss";
.App {
  min-height: 100vh;
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #ababba);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #d4d4ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #272236;
  transition: all 300ms ease-out;
  &.dark {
    background: #09070e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #09070e, #120f14);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #09070e, #120f14); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fbfbfb;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-wrap {
  display: flex;
  justify-content: flex-end;
}
